[app]
address = "0.0.0.0:9000"

[db]
host = "postgres"
port = 5432
user = "listmonk"
password = "super-strong-password"
database = "listmonk"
ssl_mode = "disable"

[upload]
provider = "local"
path = "/listmonk/uploads"

[smtp]
enabled = false
